EXPO_PUBLIC_VYB_API_BASE_URL=http://10.0.2.2:4000
EXPO_PUBLIC_VYB_INTERNAL_API_KEY=local-vyb-internal-key
EXPO_PUBLIC_VYB_DEV_EMAIL=ashwani.2226cse1211@kiet.edu
EXPO_PUBLIC_VYB_DEV_NAME=Ashwani
EXPO_PUBLIC_VYB_DEV_USER_ID=H7R1veGKRIfPHjOLLSIJTAndoQ32
EXPO_PUBLIC_VYB_DEV_MEMBERSHIP_ID=membership-ashwani
EXPO_PUBLIC_VYB_DEV_TENANT_ID=0a115f7c6bd94d58868eb16b1fc87fbb
EXPO_PUBLIC_VYB_DEV_ROLE=student
