EXPO_PUBLIC_VYB_API_BASE_URL=http://10.0.2.2:4000
EXPO_PUBLIC_VYB_INTERNAL_API_KEY=local-vyb-internal-key
EXPO_PUBLIC_VYB_DEV_EMAIL=student@kiet.edu
EXPO_PUBLIC_VYB_DEV_NAME=Vyb Explorer
EXPO_PUBLIC_VYB_DEV_USER_ID=dev-student
EXPO_PUBLIC_VYB_DEV_MEMBERSHIP_ID=membership-student
EXPO_PUBLIC_VYB_DEV_TENANT_ID=tenant-demo
EXPO_PUBLIC_VYB_DEV_ROLE=student
